name: Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd /var/www/curanova/curanova-web
            sudo -u Musnet git pull origin master
            sudo -u Musnet npm install
            sudo -u Musnet npm run build
            sudo pkill -f "next-server" || true
            sudo -u Musnet nohup npm start > /dev/null 2>&1 &
